{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/book_form.css') }}">
{% endblock %}

{% block body %}
    <div class="form-page">
        <div class="form-container">
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.isbn, 'ISBN') }}
                {{ form_widget(form.isbn) }}
                {{ form_errors(form.isbn) }}
            </div>

            <div class="form-group">
                {{ form_label(form.title, 'Titre') }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>

            <div class="form-group">
                {{ form_label(form.summary, 'Résumé') }}
                {{ form_widget(form.summary) }}
                {{ form_errors(form.summary) }}
            </div>

            <div class="form-group">
                {{ form_label(form.publicationYear, 'Année de publication') }}
                {{ form_widget(form.publicationYear) }}
                {{ form_errors(form.publicationYear) }}
            </div>

            <div class="form-group">
                {{ form_label(form.issueDate, 'Date d\'emprunt') }}
                {{ form_widget(form.issueDate) }}
                {{ form_errors(form.issueDate) }}
            </div>

            <div class="form-group">
                {{ form_label(form.user, 'Utilisateur') }}
                {{ form_widget(form.user) }}
                {{ form_errors(form.user) }}
            </div>

            <div class="form-group">
                {{ form_label(form.genres, 'Genres') }}
                {{ form_widget(form.genres) }}
                {{ form_errors(form.genres) }}
            </div>

            <div class="form-group">
                {{ form_label(form.authors, 'Auteurs') }}
                {{ form_widget(form.authors) }}
                {{ form_errors(form.authors) }}
            </div>

            <div class="form-group">
                {{ form_label(form.cover, 'Couverture') }}
                {{ form_widget(form.cover)}}
                {{ form_errors(form.cover) }}
            </div>

            <div class="form-actions">
                <button type="submit">Save</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
